<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:14.1px;color:rgb(81,81,81);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:14.1px;color:rgb(81,81,81);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:"Calibri Bold",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Calibri Bold",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="4412c88c-254b-11ec-a980-0cc47a792c0a_id_4412c88c-254b-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
     
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="http://localhost:3000/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:127.70px;top:53.44px" class="cls_003"><span class="cls_003">CreationSoul Soft-Tech</span></div>
<div style="position:absolute;left:390.07px;top:53.20px" class="cls_002"><span class="cls_002">Tax Invoice</span></div>
<div style="position:absolute;left:126.86px;top:73.72px" class="cls_004"><span class="cls_004">Requirement Meets Technology</span></div>
<div style="position:absolute;left:402.43px;top:86.56px" class="cls_005"><span class="cls_005">DATE</span></div>
<div style="position:absolute;left:375.79px;top:100.02px" class="cls_005"><span class="cls_005">Invoice No. 38</span></div>
<div style="position:absolute;left:20.40px;top:143.34px" class="cls_005"><span class="cls_005">Company Address</span></div>
<div style="position:absolute;left:127.10px;top:143.34px" class="cls_005"><span class="cls_005">95, Sreema Road</span></div>
<div style="position:absolute;left:127.10px;top:155.22px" class="cls_005"><span class="cls_005">Kolkata 700065</span></div>
<div style="position:absolute;left:20.40px;top:167.10px" class="cls_005"><span class="cls_005">Phone</span></div>
<div style="position:absolute;left:127.10px;top:167.10px" class="cls_005"><span class="cls_005">7003990798</span></div>
<div style="position:absolute;left:20.40px;top:180.54px" class="cls_005"><span class="cls_005">Email</span></div>
<div style="position:absolute;left:127.10px;top:180.54px" class="cls_005"><span class="cls_005"> </span><A HREF="mailto:dibyendud@cssoftech.com">dibyendud@cssoftech.com</A> </div>
<div style="position:absolute;left:20.40px;top:196.26px" class="cls_005"><span class="cls_005">PAN</span></div>
<div style="position:absolute;left:127.10px;top:196.26px" class="cls_005"><span class="cls_005">BORPD8133H</span></div>
<div style="position:absolute;left:20.40px;top:210.42px" class="cls_005"><span class="cls_005">GST</span></div>
<div style="position:absolute;left:127.10px;top:210.42px" class="cls_005"><span class="cls_005">19BORPD8133H1ZM</span></div>
{{#each products.prodlist}}
<div style="position:absolute;left:20.40px;top:278.25px" class="cls_005"><span class="cls_005">Invoice For:</span></div>
<div style="position:absolute;left:20.40px;top:290.97px" class="cls_005"><span class="cls_005">Company Name</span></div>
<div style="position:absolute;left:127.10px;top:290.97px" class="cls_005"><span class="cls_005">{{this.Company_Name}}</span></div>
<div style="position:absolute;left:20.40px;top:303.69px" class="cls_005"><span class="cls_005">Street Address</span></div>
<div style="position:absolute;left:127.10px;top:303.69px" class="cls_005"><span class="cls_005">{{this.Street_Address}}</span></div>
<div style="position:absolute;left:20.40px;top:316.41px" class="cls_005"><span class="cls_005">City, ST ZIP Code</span></div>
<div style="position:absolute;left:127.10px;top:316.41px" class="cls_005"><span class="cls_005">{{this.ZIP_Code}}</span></div>
<div style="position:absolute;left:20.40px;top:329.13px" class="cls_005"><span class="cls_005">Phone PH -</span></div>
<div style="position:absolute;left:127.10px;top:329.13px" class="cls_005"><span class="cls_005">{{this.Phone_PH}}</span></div>
<div style="position:absolute;left:20.40px;top:341.85px" class="cls_005"><span class="cls_005">GST</span></div>
<div style="position:absolute;left:127.10px;top:341.85px" class="cls_005"><span class="cls_005">{{this.GST}}</span></div>
<div style="position:absolute;left:50.16px;top:373.17px" class="cls_006"><span class="cls_006">QUANTITY</span></div>
<div style="position:absolute;left:149.90px;top:373.17px" class="cls_006"><span class="cls_006">PROJECT DESCRIPTION</span></div>
<div style="position:absolute;left:277.73px;top:373.17px" class="cls_006"><span class="cls_006">HSN/ SAS</span></div>
<div style="position:absolute;left:345.31px;top:373.17px" class="cls_006"><span class="cls_006">PRICE</span></div>
<div style="position:absolute;left:401.23px;top:373.17px" class="cls_006"><span class="cls_006">GST</span></div>
<div style="position:absolute;left:450.58px;top:373.17px" class="cls_006"><span class="cls_006">TAX</span></div>
<div style="position:absolute;left:495.94px;top:373.17px" class="cls_006"><span class="cls_006">TOTAL AMOUNT</span></div>
<div style="position:absolute;left:286.01px;top:386.13px" class="cls_006"><span class="cls_006">CODE</span></div>
<div style="position:absolute;left:69.74px;top:408.93px" class="cls_007"><span class="cls_007">{{this.QUANTITY}}</span></div>
<div style="position:absolute;left:126.98px;top:408.93px" class="cls_007"><span class="cls_007">{{this.PROJECT_DESCRIPTION}}</span></div>
<div style="position:absolute;left:282.77px;top:408.93px" class="cls_007"><span class="cls_007">{{this.HSN_SAS_CODE}}</span></div>
<div style="position:absolute;left:350.23px;top:408.93px" class="cls_007"><span class="cls_007">{{this.PRICE}}</span></div>
<div style="position:absolute;left:400.99px;top:408.93px" class="cls_007"><span class="cls_007">{{this.GST}}</span></div>
<div style="position:absolute;left:445.30px;top:408.93px" class="cls_007"><span class="cls_007">{{this.TAX}}</span></div>
<div style="position:absolute;left:536.76px;top:408.93px" class="cls_007"><span class="cls_007">{{this.TOTAL_AMOUNT}}</span></div>
<div style="position:absolute;left:448.90px;top:440.99px" class="cls_007"><span class="cls_007">Total</span></div>
<div style="position:absolute;left:536.64px;top:440.99px" class="cls_006"><span class="cls_006">{{this.subTotal}}</span></div>
<div style="position:absolute;left:20.52px;top:487.19px" class="cls_008"><span class="cls_008">In Word</span></div>
<div style="position:absolute;left:127.22px;top:487.19px" class="cls_008"><span class="cls_008">{{this.totalInWard}}</span></div>
<div style="position:absolute;left:20.40px;top:534.59px" class="cls_005"><span class="cls_005">Bank details:</span></div>
<div style="position:absolute;left:20.40px;top:565.67px" class="cls_009"><span class="cls_009">Company Name :</span></div>
<div style="position:absolute;left:127.10px;top:565.67px" class="cls_009"><span class="cls_009">CREATIONSOUL SOFT-TECH</span></div>
<div style="position:absolute;left:20.40px;top:581.39px" class="cls_009"><span class="cls_009">BANK NAME :</span></div>
<div style="position:absolute;left:127.10px;top:581.39px" class="cls_009"><span class="cls_009">INDIAN OVERSEAS BANK</span></div>
<div style="position:absolute;left:20.40px;top:597.11px" class="cls_009"><span class="cls_009">A/C NUMBER :</span></div>
<div style="position:absolute;left:127.10px;top:597.11px" class="cls_009"><span class="cls_009">153602000000386</span></div>
<div style="position:absolute;left:20.40px;top:612.86px" class="cls_009"><span class="cls_009">IFSC :</span></div>
<div style="position:absolute;left:126.98px;top:613.10px" class="cls_007"><span class="cls_007">IOBA0001536</span></div>
<div style="position:absolute;left:328.87px;top:628.70px" class="cls_008"><span class="cls_008">Thank You For Your Business</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="http://localhost:3000/background2.jpg" width=595 height=841></div>

</div>
{{/each}}
</body>
</html>
